<ion-content>
  <div text-center>
    <h3>Welcome username</h3>
  </div><br><br>
    <ion-slides pager="false"  parallax="true" spaceBetween ="0" effect="slide" slidesPerView = "2">
      <ion-slide>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  
  <div justify-content-center align-self-center text-center>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20624.141604549925!2d-46.33378911079356!3d-23.965121707024107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce03423c3b1c3b%3A0x584dceedfc63644f!2sSantos%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1571587522683!5m2!1spt-BR!2sbr" width="94%" height="30%" frameborder="0" style="border:0; align-content: center" allowfullscreen=""></iframe>
  </div>  
  </ion-content>
