ion-item{
    --background: #4f47af;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
.cadastro{
    align-content: center;
}
a{
    color: #fff;
}
ion-content{
    --background: #4f47af;
}
.Textovei{
    color: white;
    margin-left: 32px;
}

.Logo{
position: absolute;
left: 31.4%;
right: 32.85%;
top: 8.15%;
bottom: 72.55%;

}
.Settings{
position: absolute;
width: 37px;
height: 37px;
left: 366px;
top: 41px;
}