<ion-content>

  <div text-center>
    <div margin-top="60%" text-center>
    <h3 class="margin-top">Welcome Felipe</h3>
    <div class="avatarr">
        <img src="assets/img/icon.jpeg">
    </div>
  </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pontuação</ion-card-subtitle>
        <ion-card-title>170PTS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Plastico<ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
          Metal<ion-progress-bar color="secondary" value="0.5"></ion-progress-bar> 
          Papel<ion-progress-bar color="secondary" value="0.3"></ion-progress-bar>          
      </ion-card-content>
    </ion-card>
    
  </div>
    <ion-slides pager="false"  parallax="true" spaceBetween="-20" effect="slide" slidesPerView = "3">
      <ion-slide>
          <ion-card class="participantes">
              <ion-card-header>
                <ion-card-subtitle class="pontos">Lais G</ion-card-subtitle>
                <ion-card-title></ion-card-title>
              </ion-card-header>
              <ion-card-content >
                  <img src="assets/img/photo.png" alt="">
                </ion-card-content>    
            </ion-card>
      </ion-slide>
      <ion-slide>
      <ion-card class="participantes">
        <ion-card-header>
            <ion-card-subtitle class="pontos">Lais G</ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content >
            <img src="assets/img/photo.png" alt="">
          </ion-card-content>
    </ion-card > 
      </ion-slide>
      <ion-slide>
          <ion-card class="participantes">
              <ion-card-header>
                <ion-card-subtitle class="pontos">Lais G</ion-card-subtitle>
                <ion-card-title></ion-card-title>
              </ion-card-header>
            <ion-card-content >
              <img src="assets/img/photo.png" alt="">
            </ion-card-content>
          </ion-card > 
      </ion-slide>
    </ion-slides>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Acessar Mapa</ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/map.png" alt="">
      </ion-card-content>
    </ion-card>
    
  </ion-content>